extends ./layout.jade


block content
  div.content(ng-controller="defaultCtrl as def")
     
  
    div
      img#esencialLogo(src="images/logo_esencial.png")

    div.left-padded
      div.rotador
        ul.image(rn-carousel="",rn-carousel-auto-slide="")
          li(ng-repeat="image in def.bannerImages")
            img(ng-src="{{image}}")

      div.question-wrapper
        div.bg
        form(ng-show="def.sending === 0", ng-submit="def.classify()")
          input.question#question(ng-model="def.text",placeholder="¡Pregúntele a Esencia!")
        div(ng-show="def.sending === 1")
          p.question Enviando...
        div(ng-show="def.sending === 2")
          p.question(ng-click="def.sending=0") Lo siento. Ha ocurrido un problema. Por favor, inténtelo de nuevo.

      div.response-wrapper
        p.response(ng-show="def.sending === 1") 
          span Pensando la mejor respuesta a su pregunta...
        p.response(ng-show="def.sending === 0")
          //
            span
              strong Esencia ({{def.responseConfidence}}%): 
          span(ng-bind-html="def.response")
      //
        div.logo
        img(src="images/logo.svg", width="300")
           
    