html(lang='en')
  head
    title Esencia, Costa Rica
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='og:title' content='Esencia')
    meta(name='og:description' content='Esencial Costa Rica')
    link(rel='icon', href='/images/favicon.ico', type='image/x-icon')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='/angular/angular.min.js')
    script(src='/angular-touch/angular-touch.min.js')
    script(src='/angular-carousel/dist/angular-carousel.min.js')
    script(src='/js/vendors/textAngular-rangy.min.js')
    script(src='/js/vendors/textAngular-sanitize.min.js')
    script(src='/js/vendors/textAngular.min.js')
    script(src='/js/app/app.module.js')
    script(src='/js/app/default.controller.js')
    script(src='/js/app/admin.controller.js')
     
  body(ng-app='esencia')
    div.body-wrapper
      block content
    div
      include ./includes/footer.jade
    link(rel='stylesheet', href='css/reset.css')
    link(rel='stylesheet', href='css/site.css')
    link(href='/angular-carousel/dist/angular-carousel.min.css', rel='stylesheet', type='text/css')

    script(src='js/vendors/browser-detect.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.min.js')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.css')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet")