.content {
  max-width: 960px;
  margin: 6px auto; }
  
  body {
    background: url("/images/back_green.png") no-repeat center center fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    }
  	
  
  .content .esencia {
    text-align: center; }
  .content .response-wrapper {
    background: #63A70A;
    max-width: 600px;
    margin: 0 auto;
    padding: 24px;
    margin: 48px;
    min-height: 400px; }
    .content .response-wrapper p {
      color: #fff;
      font-size: 14px; }
  .content .question-wrapper {
    background: #63A70A;
    padding: 24px;
    margin: 24px;
    border-radius: 0;
    font-family: "angelina";
    font-size: 40px;}
    .content .question-wrapper form {
      margin: 0; }
    .content .question-wrapper input, .content .question-wrapper p {
      background: transparent;
      border: none;
      width: 100%;
      font-size: 24px;
      color: #fff; }
      .content .question-wrapper input:hover, .content .question-wrapper input:active, .content .question-wrapper input:focus, .content .question-wrapper p:hover, .content .question-wrapper p:active, .content .question-wrapper p:focus {
        border: #fff;
        outline: none; }
  .content div.logo {
    text-align: center; }
    .content div.logo img {
      margin: 25 auto 0; }

	@font-face {
    	font-family: "angelina";
    	src: url("/fonts/angelina.TTF");
	}
.customfont { 
    font-family: "angelina";
}

.footer {
  position: fixed;
  bottom: 4px;
  right: 4px;
  text-align: right; }

div.content.ng-scope > div.admin div.ta-scroll-window.ng-scope.ta-text.ta-editor.form-control {
  height: auto; }
